.App {
  text-align: center;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 3rem;
  border: thin solid black;
  padding: 0 1rem;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

.msg-container {
  /*Reverse list of images*/
  display: flex;
  flex-direction: column-reverse;
}

.msg {
  width: 350px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  border: thin solid lightgray;
  border-radius: 8px;
  text-align: left;
}

.msg header {
  display: flex;
}

.name {
  border: thin solid #eee;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 5px 15px;
}

.date {
  padding: 12px 15px;
  color: gray;
  font-size: 12px;
}

.search {
  width: 16rem;
  height: 2.5rem;
  border-radius: 8px;
  margin-right: 10px;
  border: thin solid rgb(205, 205, 205);
  padding-left: 1rem;
}
